{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
<h1 align="center">Forex Algorithms</h1>
<form action="/algorithms" method="post">
    <div class="row">
        {% for tup in strats %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{tup[0]}}</h5>
                {% if tup[2] %}
                <p>Status: Active</p>
                <button class="btn btn-danger" name="strategy" value="{{tup[0]}}">Stop</button>
                {% else %}
                <p>Status: Innactive</p>
                <button class="btn btn-success" name="strategy" value="{{tup[0]}}">Start</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>  
</form>
{% endblock %}